/* Parent content styling */

#content {
    display: grid;
    grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
    grid-template-rows: 60px auto 60px;
    height: 100vh;
}


header {
    grid-area: head;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 14px 4px;
    align-items: center;

}



header>p {
    margin-left: 10px;
}

nav>ul {
    display: flex;
    gap: 14px;
    justify-content: space-evenly;

}

ul>li {

    list-style: none;
}

li>button {
    width: 65px;
    height: 35px;
    font-size: 0.8rem;
}

/* Main (middle) content styling */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.headLine {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: rgb(165, 165, 165);
    align-items: center;
}

.headLine>p {
    font-size: 1.4rem;
}

.backgroundImage>button {
    width: 85px;
    height: 60px;
    padding: 12px;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.555);
    border: none;
}

.backgroundImage {
    background-image: url(../assets/mountain-background.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    flex: 1 auto;
    padding: 0px 14px;
}

.backgroundImage>p {
    background-color: rgba(0, 0, 0, 0.26);
    padding: 16px;
    border-radius: 12px 12px;
    font-size: 1.4rem;
}


/* Come back to this to add color overlay to bg image */
.backgroundImage::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.815);
}


/* footer styling */

footer {
    grid-area: foot;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}